*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-box1{
    display: flex;
    flex-direction:column;
     background-image:url("./pictures/pattern-glow-bg.svg") ; 
     padding: 100px 300px; 
    width: 100%;
     height: fit-content; }



.box1{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 20px;


}

.content-box{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    flex: 1;
    padding: 50px;
}

.img-box{
    flex: 1;
}

.hero-img{
width: 100%;
height:100%;
}
h1{
    font-family: Martian Mono;
    font-weight: bold;
    font-size: 100px;
    line-height: 120%;
    margin-bottom: 20px;
}
.description{
    margin-bottom: 40px;
}

.btn-review{
    display: flex;
    gap: 20px;
    padding: 15px;
    font-size: 50px;
    border: 4px solid black;
    border-radius: 10px;
    justify-content: center;
    width: 80%;

}

.arrow-down{
    width: 60px;
    height: fit-content;
}