    @font-face {
        font-family: "myFont";
        src: url("./fonts/UcCo3FwrK3iLTcviYwY.woff2");
    }
      @font-face {
        font-family: "myFont-H";
        src: url("./fonts/2V0PKIcADoYhV6w87xrTKjs4CYElh_VS9YA4TlTnaTq9wQ.woff2");
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "myFont";
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px 150px; 
    overflow: hidden;
}
.main-box1{
    display: flex;
    flex-direction:column;
    gap: 50px;
     background-image:url("./pictures/pattern-glow-bg.svg") ; 
     width: 100%;
     height: fit-content; }



.box1{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 20px;


}

.content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    flex: 1;
    padding: 30px;
    gap: 30px;
}

.img-box{
    flex: 1;
    padding: 30px;
}

.hero-img{
width: 100%;
height:100%;
 border-radius: 10px;


}
h1{
    font-family: "myFont-H";
    font-weight: bold;
    font-size: 55px;
    color: #062630;
}
.description{
    font-size: larger;
    color: #385159;
}

.btn-review{
    display: flex;
    gap: 20px;
    padding: 15px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    width: 80%;
    font-weight: bold;

}

.arrow-down{
    width: 30px;
    height: fit-content;
}

.developers-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.dev-img{
width: 20%;
}

.dev-img img{
    width: 100%;

}

.counter-box{
    display: flex;
    flex-direction: column;
}

.star-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.main-box2{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 20px;
    width: 100%;
    height: fit-content;
}

.reading-img{
    min-width: 100%;
    min-height: 100%;
    max-width: 100px;
    max-height: 735px;
  border-radius: 10px;

}
.poan-list{
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 20px;
    color: #385159;
    list-style:url("./pictures/squar.PNG");
    justify-content: center;
    gap: 10px;
}
  
.main-box3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: fit-content;
}

.title{
     font-family: "myFont-H";
    font-weight: bold;
    font-size: 40px;
    flex: 1;
}

.reading3-img{
width: 100%;
height:100%;
 border-radius: 10px;
}

.circle-img {
    position: absolute;
}

.title-4 , .title-5{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px 0 20px 0 ;
    color:  #062630;
}

.main-box4 , .main-box5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: fit-content;  
    padding: 20px;  
    margin-top: 40px;
}

.steps-box{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    height: fit-content;
}

.step-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.step-description{
    font-size: 20px;
    font-weight: bold;
    color: #062630;
    flex:1;

}

.step-title{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.num{
    font-size: 30px;
    font-weight: bold;
    color: #062630;
    border: 2px solid #062630;
    border-radius: 5px;
    padding: 3px 13px;

}

.arrow-right{
width: 30%;}