    @font-face {
        font-family: "myFont";
        src: url("./fonts/UcCo3FwrK3iLTcviYwY.woff2");
    }
      @font-face {
        font-family: "myFont-H";
        src: url("./fonts/2V0PKIcADoYhV6w87xrTKjs4CYElh_VS9YA4TlTnaTq9wQ.woff2");
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "myFont";
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px 150px; 
    overflow: hidden;
}
.main-box1{
    display: flex;
    flex-direction:column;
    gap: 50px;
     background-image:url("./pictures/pattern-glow-bg.svg") ; 
     width: 100%;
     height: fit-content; }



.box1{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 20px;


}

.content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    flex: 1;
    padding: 30px;
    gap: 30px;
}

.img-box{
    flex: 1;
    padding: 30px;
}

.hero-img{
width: 100%;
height:100%;
 border-radius: 10px;

}
h1{
    font-family: "myFont-H";
    font-weight: bold;
    font-size: 55px;
}
.description{
    font-size: larger;
}

.btn-review{
    display: flex;
    gap: 20px;
    padding: 15px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    width: 80%;
    font-weight: bold;

}

.arrow-down{
    width: 30px;
    height: fit-content;
}

.developers-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.dev-img{
width: 20%;
}

.dev-img img{
    width: 100%;

}

.counter-box{
    display: flex;
    flex-direction: column;
}

.star-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.main-box2{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 20px;
}

.reading-img{
    min-width: 100%;
    max-width: 100px;
    max-height: 735px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
     border-radius: 10px;

}
.poan-list{
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 20px;
    color: 385159;
    list-style:url("./pictures/squar.PNG");
    justify-content: center;
    gap: 10px;
}
  